.connect-modal{
    visibility:hidden;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50px);
    top: 5%;
    left: 50%;
    position: fixed;
    max-width: 660px;
    width: 60%;
    background: #FFFFFF;
    border-radius: 5px;
    // padding: 32px 60px;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: .5s ease-in-out;
    z-index: 2000;

    @include respond(576){
        width: 90%;  
        padding: 14px;   
    }
    &--show{
        transition: .5s ease-in-out;
        transform: translate(-50%, 0);
        opacity: 1;
        visibility: visible;
    }
    .col-6{
        border: 1px solid rgba(195, 195, 195, 0.14)
    }
    .wallet-btn{
        transition: background-color 0.2s ease-in-out 0s;
        width: 100%;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        padding: 24px 16px;
        cursor: pointer;
        min-width: 205px;
        @include respond(530){
            padding: 10px 8px;   
        }
        &-wrap{ 
            flex: 1;
        }
        &:hover{
            background-color: rgba(195, 195, 195, 0.14);
        }
        &__title{
            width: 100%;
            font-size: 24px;
            text-align: center;
            font-weight: 500;
            margin-top: 0.5em;
            color: rgb(12, 12, 13);
            @include respond(530){
                font-size: 18px;   
            }
        }
        &__description{
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            margin: 0.333em 0px;
            color: rgb(169, 169, 188);
            @include respond(530){
                font-size: 14px;   
            }
        }
        & svg{
            width: 80px;
            @include respond(530){
                width: 50px;   
            }
        }
    }
}